.btn {
    width: 10rem;
    
    padding: 0.7rem;
    
    font-size: 1rem;
    border-radius: 0.5rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
}

.btn-primary {
    background-color: var(--button-active);
    color: var(--button-text);
}