.box {
    background-color: var(--button-inactive);
    
    min-width: fit-content;
    width: 20rem;
    
    padding: 1rem;
    margin: 0.5rem;
    
    font-size: 0.9rem;
    border-radius: 0.5rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    
    cursor: pointer;
    border: none;
}

.box:hover,
.box:focus {
    outline: 1px solid var(--button-active);
    outline-offset: -2px;
}

.box:active {
    background-color: var(--button-active);
}

.first, .second {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.radio, .check {
    background-color: var(--option-radio);

    width: 1.2rem;
    height: 1.2rem;

    /* outline: 3px solid rgba(0, 0, 0, 0.5);
    outline-offset: -7px; */
}

.radio {
    border-radius: 50%;
}

.text {
    color: var(--button-text);
}

.cnt {
    background-color: var(--button-cnt-bg);
    color: var(--button-text);

    font-size: 0.75rem;
    padding: 0.2rem 0.8rem;
    border-radius: 1rem;
}
