* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--gradient-bg);
  font-family: var(--font-family);
}

.home {
  height: 100vh;
  width: 100vw;
}
